# Data Preprocessing

Connect Colab with Drive and read the dataset.

Adult dataset originating from: https://www.kaggle.com/wenruliu/adult-income-dataset

In [3]:
# import library
import pandas as pd

# connect with drive
from google.colab import drive
drive.mount('/content/drive')

# read dataset
datapath = r'drive/My Drive/Mengajar/Analitika Bisnis/Code/Dataset/3-2 Adult-edit.csv'
data = pd.read_csv(datapath)

print(data.columns.tolist())

Mounted at /content/drive
['id', 'age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

#Delete unrelated attributes

Delete column --> Column 'ID'

In [4]:
data.drop('id', axis=1, inplace=True)

print(data.columns.tolist())

['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

#Task 1
Drop another unrelated attributes
fnlwgt is dropped because the meaning is unclear and seems to be random
gender is dropped because it doesn't affect the income of a person, the think that affect income the most is the occupation

In [ ]:
#Answer for Task 1

#Missing Value

Checking null value

In [7]:
#Checking if there is null in a column
check_for_nan = data['capital-loss'].isnull().values.any()
print(check_for_nan)

True

In [10]:
#Checking the number of null in an entire dataset
data.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num      12
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain         20
capital-loss         10
hours-per-week        0
native-country      857
income                0
dtype: int64

Replace null value with the average value of the attribute

In [11]:
#Calculate the mean value
print(data['educational-num'].mean())

#If the value should be discrete, round it
print(round(data['educational-num'].mean()))

#Replace the null
data.loc[(data['educational-num'].isnull()==True),'educational-num']= round(data['educational-num'].mean())

data.isnull().sum()

10.078353471226706
10

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain         20
capital-loss         10
hours-per-week        0
native-country      857
income                0
dtype: int64

Replace null value with the mode value of the attribute

In [15]:
#Calculate the mode value
print(data['capital-loss'].mode()[0])

#If the value should be discrete, round it
print(round(data['capital-loss'].mode()[0]))

#Replace the null
data.loc[(data['capital-loss'].isnull()==True),'capital-loss']= round(data['capital-loss'].mode()[0])

data.isnull().sum()

0.0
0

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain         20
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

#Task 2
Fill the missing value of attribute 'capital-gain'

In [ ]:
#Answer for Task 2

#Convert String to Numeric

In [21]:
print(data)

#Convert the string label to numerical label
data['workclass'] = pd.factorize(data['workclass'])[0]
print(data)

#Data with -1 value means null, so we need to revert it back to null
import numpy as np

data.loc[(data['workclass']==-1),'workclass']= np.NaN
print(data)

       age     workclass  ...  capital-loss  hours-per-week
0       25       Private  ...           0.0              40
1       38       Private  ...           0.0              50
2       28     Local-gov  ...           0.0              40
3       44       Private  ...           0.0              40
4       18           NaN  ...           0.0              30
...    ...           ...  ...           ...             ...
48837   27       Private  ...           0.0              38
48838   40       Private  ...           0.0              40
48839   58       Private  ...           0.0              40
48840   22       Private  ...           0.0              20
48841   52  Self-emp-inc  ...           0.0              40

[48842 rows x 6 columns]
       age  workclass  ...  capital-loss  hours-per-week
0       25          0  ...           0.0              40
1       38          0  ...           0.0              50
2       28          1  ...           0.0              40
3       44          0  ...           0.0              40
4       18         -1  ...           0.0              30
...    ...        ...  ...           ...             ...
48837   27          0  ...           0.0              38
48838   40          0  ...           0.0              40
48839   58          0  ...           0.0              40
48840   22          0  ...           0.0              20
48841   52          5  ...           0.0              40

[48842 rows x 6 columns]
       age  workclass  ...  capital-loss  hours-per-week
0       25        0.0  ...           0.0              40
1       38        0.0  ...           0.0              50
2       28        1.0  ...           0.0              40
3       44        0.0  ...           0.0              40
4       18        NaN  ...           0.0              30
...    ...        ...  ...           ...             ...
48837   27        0.0  ...           0.0              38
48838   40        0.0  ...           0.0              40
48839   58        0.0  ...           0.0              40
48840   22        0.0  ...           0.0              20
48841   52        5.0  ...           0.0              40

[48842 rows x 6 columns]

#Task 3
Convert all of the string label to numerical label

In [ ]:
#Answer for Task 3

#Task 4
Replace the missing value from the categorical attributes

#Normalization
Reference: https://machinelearningmastery.com/standardscaler-and-minmaxscaler-transforms-in-python/

In [28]:
#data.drop(columns=['fnlwgt', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income'], axis=1, inplace=True)
#data.drop('workclass', axis=1, inplace=True)
#data.drop('capital-gain', axis=1, inplace=True)
print(data)
print(data.isnull().sum())

from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler()           #use minimum & maximum value of attribute to scale the data
#scaler = StandardScaler()       #use mean & standard deviation (Gaussian distribution) to scale the data

#This is used for training data
scaled_data = scaler.fit_transform(data) 

#For testing data, use transform() only because we don't neet to fit the scaler to the data anymore
#Because we already fit the scaler to the train data so the scaler for the test data only follows the first one
#scaled_test_data = scaler.transform(test_data) 

df = pd.DataFrame(scaled_data, columns = data.columns)
df.head()

       age  educational-num  capital-loss  hours-per-week
0       25              7.0           0.0              40
1       38              9.0           0.0              50
2       28             12.0           0.0              40
3       44             10.0           0.0              40
4       18             10.0           0.0              30
...    ...              ...           ...             ...
48837   27             12.0           0.0              38
48838   40              9.0           0.0              40
48839   58              9.0           0.0              40
48840   22              9.0           0.0              20
48841   52              9.0           0.0              40

[48842 rows x 4 columns]
age                0
educational-num    0
capital-loss       0
hours-per-week     0
dtype: int64

        age  educational-num  capital-loss  hours-per-week
0  0.109589         0.400000           0.0        0.397959
1  0.287671         0.533333           0.0        0.500000
2  0.150685         0.733333           0.0        0.397959
3  0.369863         0.600000           0.0        0.397959
4  0.013699         0.600000           0.0        0.295918